@import "bourbon/bourbon";
@import "base/base";


.stops-page {
  #latlon-form {
    display: none;
  }

  .sample-locations {
    display: none;
  }

  .wrapper {
    @include clearfix;
    margin: 0 20px;
  }

  .results-section {
    float: left;
  }

  .map-section {
    width: 500px;
    float: right;
  }

  #map-container {
    width: 500px;
    height: 500px;
  }

  .results li {
    margin-bottom: 5px;

    .lines {
      font-size: small;
    }
  }
}

.arrivals-page {
  li.vehicle {
    padding-left: 50px;
    margin: 10px 10px;


    &.bus {
      background: #ffffff url("img/bus.png") no-repeat left top;
    }

    &.tube {
      background: #ffffff url("img/tube.png") no-repeat left top;
    }
  }
}

